img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

body {
  background: lightblue;
  font-family: monospace;
  width: 700px;
  margin-left: 20%;
}

a{
  color:green;
}

a:visited {
  color: darkgreen;
}
h1, h2 {
  margin-left:5%;
}

p {
  font-size: 20px;
  margin-left: 5%;
}

strong {
  color: cadetblue;
  margin: -35%;
}

div {
  background: azure;
  border: 5px dotted darkblue;
  border-radius: 50px;
  padding: 20px;
}

.em {
  color: white;
  background: cornflowerblue;
  font-style: normal;
}

.underline {
  text-decoration: underline;
}

.cool {
  background: aliceblue;
  border: 5px dotted darkblue;
  border-radius: 50px;
  padding: 10px;
}
