*{
  box-sizing: border-box;
}

html{
  font-size: 100%;
}

body {
  margin: 0 auto;
  width: 550px;
  font-family: Courier, monospace;
  background: #fffcc2;
  font-size: 20px;
  color: darkblue;
}

a {
  text-decoration: none;
  color: lightblue;
}

a:hover {
  color: darkblue;
}

p {
  font-size:14px;
}

ul {
  list-style: "»";
  color: turquoise;
}

h2, h3 {
  color: turquoise;
}

.container{
  background: aliceblue;
  display: flex;
}

.widescreen{
  /* background: lightblue; */
  position: fixed;
  bottom: 10px;
  left: 0;
  /* width: 100px; */
  animation: run 5s infinite linear;
}

.reveal{
  padding: 0px 0px 0px 10px;
  height: 30px;
  width: 100%;
  margin: 0px 0% 0px 0%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}

.reveal:hover{
  height: 150px;
}

@keyframes run {
  0% {
    transform:translateX(-100px);
  }
  100% {
    transform: translateX(100vw);
  }
}
