body {
  margin: 0 auto;
  width: 550px;
  font-family: Courier, monospace;
  background: lightyellow;
  font-size: 20px;
  color: darkblue;
}

a {
  text-decoration: none;
  color: lightblue;
}

a:hover {
  color: darkblue;
}

ul {
  list-style: "»";
  color: turquoise;
}

h2, h3 {
  color: turquoise;
}
