*{
  box-sizing: border-box;
  cursor: crosshair;
}

body{
  background: black;
  font-family: courier, monospace;
  cursor: crosshair;

}

.flex{
  color:white;
  display:flex;
  justify-content: center;
}

.hidden1{
  position: absolute;
  width: 50px;
  top: 500px;
  left: 700px;
}

.hidden2{
  position: absolute;
  width: 50px;
  top: 100px;
  left: 500px;
}

.hidden3{
  position: absolute;
  width: 50px;
  top: 200px;
  left: 200px;
}

.hidden4{
  position: absolute;
  width: 50px;
  top: 350px;
  left: 900px;
}

div:hover {
  color: gray;
  cursor: cell;
}

.hidden-word{
  position: absolute;
  width: 100px;
  top: 650px;
  left: 50px;
}

.hidden-word:hover{
  color:white;
}
